# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [2]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt


baltimoredata = pd.read_csv("baltimore_9-24-2016_9-30-2017.csv")
bostondata = pd.read_csv("boston_9-24-2016_9-30-2017.csv")
newyorkdata = pd.read_csv("new-york_9-24-2016_9-30-2017.csv")
philadelphiadata = pd.read_csv("philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [51]:
# Clean your data here!
for col in baltimoredata.columns:
    pct_missing = np.mean(baltimoredata[col].isnull())
    print("Baltimore: "'{} - {}%'.format(col, round(pct_missing*100)))
for col in bostondata.columns:
    pct_missing = np.mean(bostondata[col].isnull())
    print("Boston: "'{} - {}%'.format(col, round(pct_missing*100)))
for col in newyorkdata.columns:
    pct_missing = np.mean(newyorkdata[col].isnull())
    print("New York: "'{} - {}%'.format(col, round(pct_missing*100)))
for col in philadelphiadata.columns:
    pct_missing = np.mean(philadelphiadata[col].isnull())
    print("Philadelphia: "'{} - {}%'.format(col, round(pct_missing*100)))
    
data = baltimoredata.drop(["Type", "Grade","Origin District","Environment","Quality", "Condition", "Appearance", "Storage", "Crop","Trans Mode"],axis=1) 
data = bostondata.drop(["Type", "Grade","Origin District","Environment","Quality", "Condition", "Appearance", "Storage", "Crop","Trans Mode"],axis=1)
data = newyorkdata.drop(["Type", "Grade","Origin District","Environment","Quality", "Condition", "Appearance", "Storage", "Crop","Trans Mode"],axis=1)
data = philadelphiadata.drop(["Type", "Grade","Origin District","Color","Environment","Quality", "Condition", "Appearance", "Storage", "Crop","Trans Mode"],axis=1)

TypeError: 'DataFrame' object is not callable

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [52]:
# Combine the four dataframes into one!
NEframes = [baltimoredata, bostondata, newyorkdata, philadelphiadata]

result = pd.concat(NEframes)

NEjoined = pd.concat(NEframes)

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [53]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
NEjoinedHL = NEjoined.groupby(["Low Price","High Price"])
NEjoinedHL.mean().head()

                      Type  Grade  Mostly Low  Mostly High  Environment  \
Low Price High Price
12        12.0         NaN    NaN        12.0    12.000000          NaN
          14.0         NaN    NaN        12.0    14.000000          NaN
15        15.0         NaN    NaN        15.0    15.000000          NaN
          16.0         NaN    NaN        15.0    15.090909          NaN
          17.0         NaN    NaN        15.0    17.000000          NaN

                      Quality  Condition  Appearance  Storage  Crop  \
Low Price High Price
12        12.0            NaN        NaN         NaN      NaN   NaN
          14.0            NaN        NaN         NaN      NaN   NaN
15        15.0            NaN        NaN         NaN      NaN   NaN
          16.0            NaN        NaN         NaN      NaN   NaN
          17.0            NaN        NaN         NaN      NaN   NaN

                      Trans Mode
Low Price High Price
12        12.0               NaN
          14.0               NaN
15        15.0               NaN
          16.0               NaN
          17.0               NaN

In [40]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
NEjoinedVariety = NEjoined.groupby(["Variety"])
NEjoinedVariety.mean().head

<bound method NDFrame.head of                           Type  Grade   Low Price  High Price  Mostly Low  \
Variety
BIG MACK TYPE              NaN    NaN  129.454545  147.272727  137.363636
BLUE TYPE                  NaN    NaN  260.000000  285.000000  285.000000
CINDERELLA                 NaN    NaN  206.051282  220.974359  215.025641
FAIRYTALE                  NaN    NaN  198.783784  214.108108  208.243243
HOWDEN TYPE                NaN    NaN  152.834821  177.098214  158.303571
HOWDEN WHITE TYPE          NaN    NaN  170.000000  180.000000  170.000000
KNUCKLE HEAD               NaN    NaN  238.888889  260.555556  258.333333
MINIATURE                  NaN    NaN   16.391753   17.886598   16.453608
MIXED HEIRLOOM VARIETIES   NaN    NaN  210.000000  230.000000  210.000000
PIE TYPE                   NaN    NaN  133.404040  148.118687  137.459596

                          Mostly High  Environment  Quality  Condition  \
Variety
BIG MACK TYPE              145.454545          NaN      NaN        NaN
BLUE TYPE                  285.000000          NaN      NaN        NaN
CINDERELLA                 220.974359          NaN      NaN        NaN
FAIRYTALE                  213.648649          NaN      NaN        NaN
HOWDEN TYPE                165.290179          NaN      NaN        NaN
HOWDEN WHITE TYPE          180.000000          NaN      NaN        NaN
KNUCKLE HEAD               260.555556          NaN      NaN        NaN
MINIATURE                   17.000000          NaN      NaN        NaN
MIXED HEIRLOOM VARIETIES   230.000000          NaN      NaN        NaN
PIE TYPE                   142.568182          NaN      NaN        NaN

                          Appearance  Storage  Crop  Trans Mode
Variety
BIG MACK TYPE                    NaN      NaN   NaN         NaN
BLUE TYPE                        NaN      NaN   NaN         NaN
CINDERELLA                       NaN      NaN   NaN         NaN
FAIRYTALE                        NaN      NaN   NaN         NaN
HOWDEN TYPE                      NaN      NaN   NaN         NaN
HOWDEN WHITE TYPE                NaN      NaN   NaN         NaN
KNUCKLE HEAD                     NaN      NaN   NaN         NaN
MINIATURE                        NaN      NaN   NaN         NaN
MIXED HEIRLOOM VARIETIES         NaN      NaN   NaN         NaN
PIE TYPE                         NaN      NaN   NaN         NaN  >

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!